src/nodered_flow.json
[{"id":"dbb2b4b843d0e44f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a891947b27dc288e","type":"mqtt in","z":"dbb2b4b843d0e44f","name":"Temperature input","topic":"weather/temperature","qos":"0","datatype":"auto","broker":"635b738f735a4a42","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":180,"wires":[["bde8d7797cefd2bb"]]},{"id":"bde8d7797cefd2bb","type":"function","z":"dbb2b4b843d0e44f","name":"Format temperature","func":"if (typeof msg.payload === \"string\") {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Invalid JSON payload\");\n        return null;\n    }\n}\nif (typeof msg.payload === \"number\"){\n    msg.payload = {temperature: parseFloat(msg.payload)};\n}\n// Add latency if timestamp exists\nif (msg.payload.timestamp) {\n    msg.payload.latency_ms = Date.now() - (msg.payload.timestamp * 1000);\n}\nmsg.measurement = \"weather\";\nmsg.tags = {\n    sensor: \"bmp280\",\n    location: \"room1\",\n    type: \"temperature\"\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":180,"wires":[["2fef38c2b5c2eeb7","0c5e504e3c391c41"]]},{"id":"2fef38c2b5c2eeb7","type":"influxdb out","z":"dbb2b4b843d0e44f","influxdb":"ca84518f8bd9c003","name":"InfluxDB","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"InternetOfThings","bucket":"Iot_project","x":640,"y":140,"wires":[]},{"id":"0c5e504e3c391c41","type":"debug","z":"dbb2b4b843d0e44f","name":"Debug Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":200,"wires":[]},{"id":"3eb6dacc10c8763a","type":"mqtt in","z":"dbb2b4b843d0e44f","name":"Pressure input","topic":"weather/pressure","qos":"0","datatype":"auto","broker":"635b738f735a4a42","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":320,"wires":[["f73e1e5d94310932"]]},{"id":"f73e1e5d94310932","type":"function","z":"dbb2b4b843d0e44f","name":"Format pressure","func":"msg.payload = {pressure: parseFloat(msg.payload)};\nmsg.measurement = \"weather\";\nmsg.tags = {\n    sensor: \"bmp280\",\n    location: \"room1\",\n    type: \"pressure\"\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":320,"wires":[["397e4c667771f5bb","c5befa30bd801664"]]},{"id":"397e4c667771f5bb","type":"influxdb out","z":"dbb2b4b843d0e44f","influxdb":"ca84518f8bd9c003","name":"InfluxDB","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"InternetOfThings","bucket":"Iot_project","x":620,"y":320,"wires":[]},{"id":"c5befa30bd801664","type":"debug","z":"dbb2b4b843d0e44f","name":"Debug Pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":400,"wires":[]},{"id":"54a9d3f598706889","type":"inject","z":"dbb2b4b843d0e44f","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"check_temperature","payload":"","payloadType":"date","x":130,"y":600,"wires":[["5b7f68444c4dd4ee"]]},{"id":"5b7f68444c4dd4ee","type":"influxdb in","z":"dbb2b4b843d0e44f","influxdb":"ca84518f8bd9c003","name":"Get last temp","query":"from(bucket: \"Iot_project\")\n  |> range(start: -5m)\n  |> filter(fn: (r) => r._measurement == \"weather\")\n  |> filter(fn: (r) => r._field == \"temperature\")\n  |> last()","rawOutput":false,"precision":"","retentionPolicy":"","org":"InternetOfThings","x":340,"y":600,"wires":[["0bbe344871c1841b"]]},{"id":"0bbe344871c1841b","type":"function","z":"dbb2b4b843d0e44f","name":"Check temperature","func":"var TOO_COLD = 18;\nvar TOO_HOT = 25;\n\nif (!Array.isArray(msg.payload) || msg.payload.length === 0) {\n    return null;\n}\n\nvar dataPoint = msg.payload[0];\n\nvar temp = dataPoint._value;\n\nif (temp === undefined || temp === null) {\n    node.error(\"No _value field found\");\n    return null;\n}\n\n// Threshold check\nvar pattern;\nif (temp > TOO_HOT) {\n    pattern = \"ALERT\";\n} else if (temp < TOO_COLD) {\n    pattern = \"UNCOMFORTABLE\";\n} else {\n    pattern = \"COMFORTABLE\";\n}\n\n// NEW\n// MQTT output (keep your existing)\nvar mqttMsg = { payload: pattern, topic: \"weather/control\" };\n\n// InfluxDB output\nvar influxMsg = {\n    measurement: \"temperature_alerts\",\n    payload: {\n        status: pattern\n    },\n    tags: {\n        sensor: \"bmp280\",\n        location: \"room1\"\n    }\n};\n\nreturn [mqttMsg, influxMsg];\n\n\n//msg.payload = pattern;\n//msg.topic = \"weather/control\";\n\n//return msg;","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":600,"wires":[["23956df6664bfa01","0e76a6732e6ec612"],["5052c3ac5f773605","d40ddc00dde485b9"]]},{"id":"23956df6664bfa01","type":"mqtt out","z":"dbb2b4b843d0e44f","name":"Control","topic":"weather/control","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"635b738f735a4a42","x":780,"y":500,"wires":[]},{"id":"0e76a6732e6ec612","type":"debug","z":"dbb2b4b843d0e44f","name":"Debug Control","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":560,"wires":[]},{"id":"7f8a72d4d83945a6","type":"mqtt in","z":"dbb2b4b843d0e44f","name":"Predictions input","topic":"weather/predictions/#","qos":"2","datatype":"auto-detect","broker":"635b738f735a4a42","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":840,"wires":[["0192935dd541640c"]]},{"id":"0192935dd541640c","type":"function","z":"dbb2b4b843d0e44f","name":"Process prediction","func":"let data = msg.payload;\n\nif (typeof data === 'string') {\n    try {\n        data = JSON.parse(data);\n    } catch (e) {\n        node.error(\"Failed to parse JSON: \" + e);\n        return null;\n    }\n}\n\nlet timeframe = 0;\nif (msg.topic.includes(\"5min\")) timeframe = 5;\nif (msg.topic.includes(\"15min\")) timeframe = 15;\nif (msg.topic.includes(\"30min\")) timeframe = 30;\n\n// FORCE numeric fields (never undefined / NaN)\nmsg.payload = {\n    current_temp: Number(data.current ?? data.current_temp ?? 0.01),\n    predicted_temp: Number(data.predicted ?? data.predicted_temp ?? 0.01),\n    confidence: Number(data.confidence ?? 0.01),\n    change_per_sec: Number(data.change_per_sec ?? 0.01),\n    change_per_min: Number(data.change_per_min ?? 0.01),\n    change_per_hour: Number(data.change_per_hour ?? 0.01),\n    timeframe_min: timeframe   // FIELD, not tag\n};\n\n\nmsg.measurement = \"ml_predictions\";\nmsg.tags = {\n    sensor: \"pico_ml\",\n    //timeframe: timeframe,\n    trend: data.trend || \"unknown\"\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":840,"wires":[["02eef218fecdd32b","cb3559785b5687bd"]]},{"id":"02eef218fecdd32b","type":"debug","z":"dbb2b4b843d0e44f","name":"Debug Prediction","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":920,"wires":[]},{"id":"cb3559785b5687bd","type":"influxdb out","z":"dbb2b4b843d0e44f","influxdb":"ca84518f8bd9c003","name":"InfluxDB","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"InternetOfThings","bucket":"Iot_project","x":700,"y":840,"wires":[]},{"id":"5052c3ac5f773605","type":"influxdb out","z":"dbb2b4b843d0e44f","influxdb":"ca84518f8bd9c003","name":"InfluxDB","measurement":"msg.measurement","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"InternetOfThings","bucket":"Iot_project","x":840,"y":660,"wires":[]},{"id":"d40ddc00dde485b9","type":"debug","z":"dbb2b4b843d0e44f","name":"Debug Alert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":700,"wires":[]},{"id":"635b738f735a4a42","type":"mqtt-broker","name":"","broker":"bc359e0faba74aaf925f6c4bfdc6f351.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ca84518f8bd9c003","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"oulu","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"5f98b91c7ce75b55","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0"}}]